* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container-geral {

    display: flex;
    height: 100vh;
    width: 100vw;

}

.lado-esquerdo {

    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;

}


.lado-direito {

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #5682B1;
    background-position-x: 100px;
     background-image: url("/assets/logo.webp");
     background-repeat: no-repeat;
     background-size: 300px;

}

.cep {

    display: flex;
    flex-direction: column;


}

input[type="text"],button {

    border-radius: 8px;
    width: 200px;
    border: none;
    padding: 5px;
    margin: 2px;
    outline: none;


}
